<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>member</title>
    <link rel="stylesheet" href="css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="js/index.js"></script>
</head>
<body>
    <div id="index">
        <h1>회원관리</h1>
        <form name="frm" class="frm" method="post">
            <input type="text" name="findStr" class="findStr">
            <button type="button" class="btnSearch">검색</button>
        </form>
        <div class="list">
            <div class="title">
                <span class="id">아이디</span>
                <span class="name">성명</span>
                <span class="address1">주소</span>
                <span class="phone">연락처</span>
                <span class="picture">대표사진</span>
            </div>
            <div class="items">
                
            </div>
        </div>
    </div>
</body>
</html>