<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
</head>
<body>
    <div>
        <div class="register">
            <h3>회원 등록</h3>
            <form name="frm" method="post" class="frm" enctype="multipart/form-data">
                <label>아이디</label><br/>
                <input type="text" name="id" ><br/>

                <label>성명</label><br/>
                <input type="text" name="name" ><br/>

                <label>연락처</label><br/>
                <input type="text" name="phone"><br/>

                <label>주소</label><br/>
                <input type="text" name="address1" size="50"><br/>
                <label>
                    파일첨부
                    <input type="file" name="files" multiple/>
                </label>
                <br/><br/>
                <button type="button" class="btnRegisterR">저장</button>
                <button type="button" class="btnList">취소</button>
            </form>

        </div>
    </div>    
</body>
</html>