<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update</title>
</head>
<body>
    <div>
        <div class="update">
            <h3>회원정보 수정</h3>
            <form name="frm" method="post">
                <label>아이디<input type="text" name="id" readonly th:value="${vo.id}"></label><br/>
                <label>성명  <input type="text" name="name"  th:value="${vo.name}"></label><br/>
                <label>연락처<input type="text" name="phone"  th:value="${vo.phone}"></label><br/>
                <label>주소  <input type="text" name="address1" th:value="${vo.address1}"></label><br/>
                <br/>
      
                <div th:each="p : ${vo.photos}">
                    <div th:text="${p}"></div>
                </div>
                
                <button type="button" class="btnUpdate">수정</button>
                <button type="button" class="btnList">취소</button>
            </form>



        </div>
    </div>
</body>
</html>