<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update</title>
</head>
<body>
    <div>
        <div class="update">
            <h3>회원정보 수정</h3>
            <form name="frm" method="post" enctype="multipart/form-data">
                <label>아이디</label><br/>
                <input type="text" name="id" readonly th:value="${vo.id}"><br/>
                <label>성명</label><br/>
                <input type="text" name="name"  th:value="${vo.name}"><br/>
                <label>연락처</label><br/>
                <input type="text" name="phone"  th:value="${vo.phone}"><br/>
                <label>주소</label><br/>
                <input type="text" name="address1" th:value="${vo.address1}" size="50"><br/>
                <label>
                    파일첨부
                    <input type="file" name="files" multiple>

                </label>

                <br/>
      
                <div th:each="p : ${vo.photos}">
                    <div>
                        <label>
                            <input type="checkbox" name="delFiles" class="chk"
                                th:onClick="checkUp(this)"    
                                th:value="${p.oriPhoto}" th:text="${p.oriPhoto}">
                        </label>
                    </div>
                </div>

                <br/>
                <button type="button" class="btnModifyR">수정</button>
                <button type="button" class="btnList">취소</button>
            </form>



        </div>
    </div>
</body>
</html>